@import "normalize.css";

:local .image_grid_wrapper {
  width: 90%;
  margin: 10px auto;
}

:local .image {
  object-fit: contain;
  width: 100%;
}

:local .list_bottom {
  color: #ababab;
  font-size: 10px;
  text-align: center;
  margin: 15px;
}
