:local .upload_container {
  background: #f3f3f3;
  padding: 20px;
}

:local .description_upload {
  padding: 15px;
  text-align: center;
}

:local .description_upload_dropzone {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px dashed #666666;
}

:local .description_upload_text {
  font-size: 25px;
  margin: 5px;
}

:local .description_upload_subtext {
  color: #999999;
  font-size: 15px;
  margin: 15px 0 0 0;
}

:local .description_upload_button {
  margin-top: 25px;
}
