@import "normalize.css";

:local .description_wrapper {
  width: 80%;
  margin: 20px auto;
}

:local .description_text {
  padding: 15px;
}

:local .image_grid_wrapper {
  width: 90%;
  margin: 10px auto;
}
