:local .detail__image {
  padding: 15px;
  text-align: center;
}

:local .detail__markdown {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

:local .detail__markdown__button {
  margin: 0px 15px;
}

:local .detail__markdown__copyButton {
  margin: 10px;
}
